*{
    margin: 0;
}
body{
    /* background: pink;
     */
     font-family: 'Roboto', sans-serif;
     text-align: center;

}
header{
    /* background: white; */
    border: 3px solid green;
    color: green;
}
section{
    border: 3px solid peru;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
aside{
    
    border: 3px solid red;
}
 article{
border: 3px solid blue;
}

.articulo2{
border : 3px solid yellow;
height:70px;
color : #d35400;
font-size:40px;
font-weight: 800px;
}