
*{
    box-sizing: border-box;
}
body{
    background-image: url("04_Ejercicios\Countdown-timer\img\nieve.jpg");
    background-size: cover;
    background-position: center center;
    min-height:100vh;
    font-family:"Poppins",sans-serif;
    margin: 0;
}