
body{
    background-color: #2d98da;
}
#main{
    background-color: #45aaf2;
    border-radius: 10px;
    
}

/* .header{
    
    width: 800px;
    margin-left: auto;
    margin-right: auto;
} */

#title{
    
text-align: center;
padding-top: 30px;
font-family: 'Roboto Slab', serif;
font-weight: 400;
}
#img-div{
    background-color:#53b7ff;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}  
    
.description{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin-bottom: 20px;
}
img{
    
}
#img-caption{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}
#image{
    max-width: 100%;
    display:block ;
    height: auto;
}
#tribute-info{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}
.title-n2{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding-bottom: 30px;
   
}

.list{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}
li{
    padding-bottom: 30px;
}
.description-n3{
    font-family: 'Roboto Slab', italic;
    font-size: 15px;
    font-weight: 100;


}
.title-n3{
    font-family: 'Roboto Slab', italic;
    font-size: 15px;
    font-weight: 100;
   
}
.title-n2{
    text-align: center;
    font-family: 'Roboto Slab', italic;
    font-size: 20px;
    font-weight: 600;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}